body {
  margin: 0;
}

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}

.hide {
  display: none;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.play-game {
  .list-complete,
  .congrats-screen {
    display: none;
  }

  &.show-list-complete {
    .current-word {
      display: none;
    }

    .list-complete {
      display: block;
    }
  }
  &.show-congrats-screen {
    .congrats-screen {
      display: block;
    }

    .current-word {
      display: none;
    }
  }
}

.bottomBar {
  position: fixed;
  bottom: 0;
  height: 44px;
  display: flex;
  background: #222;
  min-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  & > a {
    margin-right: 10px; 
    text-align: center;
    padding: 5px;
    color: #fff;
    flex: 0 0 106px;
  }
}

main {
  padding-bottom: 44px;
}

input {
  border: 1px solid #000;
}